/node_modules

.expo/web
.expo/web-build
.expo/packager-info.json
.expo/packager-cache/

/android/build/
/android/.gradle/
/android/app/build/
/android/app/.cxx/

/ios/build/
/ios/Pods/
/ios/.xcode.env.local

/dist
/build
/temp
/coverage
/log.txt
*.log

.env
.env.*
!.env.example # Опционально: может быть полезно, если вы хотите оставить шаблон .env

.idea/
.vscode/

.DS_Store

expo-env.d.ts
